---
# yamllint disable rule:comments rule:line-length
name: Trigger release
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
permissions: {}
jobs:
  trigger-release:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install xpath
        run: sudo apt install -y libxml-xpath-perl
      - name: Trigger release
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -x
          FLYWAY_VERSION=$(xpath -q -e '/project/properties/flywayVersion/text()' pom.xml)
          LATEST_TAG=$(git tag --sort=v:refname |tail -n1)
          if [[ "v${FLYWAY_VERSION}" != "${LATEST_TAG}" ]]
          then
            gh workflow run release.yml
          fi
